body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}

.topo {
  background-color: #ff994d;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 65px;
  margin-right: 25px;
  border-radius: 25px;
}

.topo h1 {
  font-size: 18px;
  color: white;
  margin: 0;
}

main {
  padding: 10px 20px;
}

h2 {
  color: #ff994d;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.item {
  text-align: center;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 5px;
}

.item img {
  width: 50px; 
  height: 50px;
  object-fit: contain;
  margin-bottom: 5px;
}

.preparo {
  margin-top: 20px; 
}

footer {
  background-color: #ff994d;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.google-btn {
  background-color: #ff944d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;

}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff994d;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #000; 
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.footer-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
main {
  padding-bottom: 80px; 
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 414px; 
  margin: 0 auto;

  background-color: #ff994d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0%;
  color: white;
  z-index: 10;
}
