body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
}

header {
  background-color: #f98d47;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo img {
  height: 65px;
  border-radius: 25px;

}

.procurar {
  flex-grow: 1;
  margin: 0 10px;
  position: relative;

}
.procurar input {
  width: 100%;
  padding: 8px 30px 8px 10px;
  border-radius: 20px;
  border: none;

}

.procurar i {
  position: absolute;
  right: 10px;
  top: 8px;
  color: #555;

}

.profile-icon {
  color: white;
  font-size: 20px;

}

.icones-categorias {
  display: flex;
  justify-content: space-around;
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.icones-categorias i {
  font-size: 24px;
}

.secao {
  padding: 15px;
}

.titulo-secao {
  font-size: 18px;
  color: #f36f25;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 20px 0 10px;
  font-weight: bold;
}

.titulo-secao i {
  margin-right: 10px;
}

.receita {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.receita img {
  width: 100px;
  height: 70px;
  border-radius: 15px;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.conteudo-receita {
  flex: 1;
}

.titulo-receita {
  font-weight: bold;
  color: #d35400;
  font-size: 16px;
}

.info-receita {
  font-size: 14px;
  color: #555;
}

.rodape {
  background: #f9844a;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.rodape div {
  text-align: center;
  color: white;
  font-size: 12px;
}

.rodape i {
  display: block;
  font-size: 20px;
}